{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Сброс пароля" %}{% endblock %}

{% block content %}
<br>
<br>
<div class="container">
<div class='col-md-8 offset-md-2'>
    <h1>{% trans "Сброс пароля" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Вы забыли пароль? Введите свой адрес электронной почты ниже, и мы отправим вам электронное письмо, позволяющее вам его изменить." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn-primary btn" type="submit" value="{% trans 'Изменить пароль' %}" />
    </form>

    <p>{% blocktrans %} Пожалуйста, свяжитесь с нами, если у вас возникнут проблемы с сбросом пароля {% endblocktrans %}</p>
</div></div>
{% endblock %}
